<div class="form-group">
    <label for="fname">First name</label>
    <input type="text" #fname id="fname" class="form-control">
</div>
<div class="form-group">
    <label for="lname">Last name</label>
    <input type="text"  #lname id="lname" class="form-control">
</div>
<div class="form-group">
    <label for="email">Email</label>
    <input type="text" #email id="email" class="form-control">
</div>
<div class="form-group">
    <label for="contact">Contact</label>
    <input type="text" #contact id="contact" class="form-control">
</div>
<div class="text-right">
    <!-- <button class="btn btn-primary mb-4"(click)="onstudentAdd(fname,lname,email,contact)">Add student</button> -->
    <button mat-raised-button color="primary" (click)="onstudentAdd(fname,lname,email,contact)">Add student</button>
</div>
